/* App.css */
#container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensures the container takes the full height of the viewport */
}

#div-2 {
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
 
    flex-grow: 1; /* Ensures div-2 takes available space */
}

.hidden {
    display: none !important;
}

#detail-payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}

.cus-detail{
    margin: 0 30px;
}
.MuiPaper{
    background-color: rgba(28, 170, 205, 0.464);

}
#card-content {

    position: relative;
    left: 85%;
}


